/*
 * Nordic Secure DFU behavior definition
 */

/ {
    behaviors {
        nordic_dfu: nordic_dfu {
            compatible = "zmk,behavior-nordic-dfu";
            #binding-cells = <0>;
            display-name = "Nordic DFU";
        };
    };
};
