#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        // 電気的な配線は 1行 x 24列 (左右共通)
        rows = <1>;
        columns = <48>; // 左右合計の列数 (24 + 24)
        
        // 論理的な 4行 x 6列 のキーマップ (左手) と
        // 論理的な 4行 x 6列 のキーマップ (右手) に変換します。
        // 計 48キー分を 1行 x 48列 にマップ。
        map = <
            // Left Hand (Col 0 - 23)
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)   // 論理 Row 0 (L)
            RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10)RC(0,11)  // 論理 Row 1 (L)
            RC(0,12)RC(0,13)RC(0,14)RC(0,15)RC(0,16)RC(0,17)  // 論理 Row 2 (L)
            RC(0,18)RC(0,19)RC(0,20)RC(0,21)RC(0,22)RC(0,23)  // 論理 Row 3 (L)

            // Right Hand (Col 24 - 47)
            RC(0,24) RC(0,25) RC(0,26) RC(0,27) RC(0,28) RC(0,29) // 論理 Row 0 (R)
            RC(0,30) RC(0,31) RC(0,32) RC(0,33) RC(0,34) RC(0,35) // 論理 Row 1 (R)
            RC(0,36) RC(0,37) RC(0,38) RC(0,39) RC(0,40) RC(0,41) // 論理 Row 2 (R)
            RC(0,42) RC(0,43) RC(0,44) RC(0,45) RC(0,46) RC(0,47) // 論理 Row 3 (R)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row"; 

        // Row Pin: P0.0
        row-gpios = <&gpio0 0 (GPIO_ACTIVE_HIGH)>;
            
        // Col Pins: P0.16, P0.11, P0.6, P0.3, ... P0.25 (計 24本)
        col-gpios
            = <&gpio0 16 (GPIO_ACTIVE_HIGH)> 
            , <&gpio0 11 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 6 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 3 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 15 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 31 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 18 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 12 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 7 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 4 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 13 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 19 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 30 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 20 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 14 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 8 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 5 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 2 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 17 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 29 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 28 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 27 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 26 (GPIO_ACTIVE_HIGH)>
            , <&gpio0 25 (GPIO_ACTIVE_HIGH)>
            ;
    };
};