config SHIELD_CARAVELLE
    def_bool $(shields_list_contains,caravelle)

config SHIELD_CARAVELLE_LEFT
    def_bool $(shields_list_contains,caravelle_left)

config SHIELD_CARAVELLE_RIGHT
    def_bool $(shields_list_contains,caravelle_right)