#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout (Left+Right)";
			transform = <&default_transform>;
			kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   63       0     0     0>
            , <&key_physical_attrs 100 100  100   63       0     0     0>
            , <&key_physical_attrs 100 100  200   25       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  500   38       0     0     0>
            , <&key_physical_attrs 100 100  875   38       0     0     0>
            , <&key_physical_attrs 100 100  975   25       0     0     0>
            , <&key_physical_attrs 100 100 1075    0       0     0     0>
            , <&key_physical_attrs 100 100 1175   25       0     0     0>
            , <&key_physical_attrs 100 100 1275   63       0     0     0>
            , <&key_physical_attrs 100 100 1375   63       0     0     0>
            , <&key_physical_attrs 100 100    0  163       0     0     0>
            , <&key_physical_attrs 100 100  100  163       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  138       0     0     0>
            , <&key_physical_attrs 100 100  600   75       0     0     0>
            , <&key_physical_attrs 100 100  775   75       0     0     0>
            , <&key_physical_attrs 100 100  875  138       0     0     0>
            , <&key_physical_attrs 100 100  975  125       0     0     0>
            , <&key_physical_attrs 100 100 1075  100       0     0     0>
            , <&key_physical_attrs 100 100 1175  125       0     0     0>
            , <&key_physical_attrs 100 100 1275  163       0     0     0>
            , <&key_physical_attrs 100 100 1375  163       0     0     0>
            , <&key_physical_attrs 100 100    0  263       0     0     0>
            , <&key_physical_attrs 100 100  100  263       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  238       0     0     0>
            , <&key_physical_attrs 100 100  600  175       0     0     0>
            , <&key_physical_attrs 100 100  775  175       0     0     0>
            , <&key_physical_attrs 100 100  875  238       0     0     0>
            , <&key_physical_attrs 100 100  975  225       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  225       0     0     0>
            , <&key_physical_attrs 100 100 1275  263       0     0     0>
            , <&key_physical_attrs 100 100 1375  263       0     0     0>
            , <&key_physical_attrs 125 100  200  325       0     0     0>
            , <&key_physical_attrs 125 100  335  333     500   425   325>
            , <&key_physical_attrs 100 100  460  350    1300   525   400>
            , <&key_physical_attrs 150 100  525  375 (-6500)   600   400>
            , <&key_physical_attrs 150 100  637  122    6500   600   400>
            , <&key_physical_attrs 100 100  915  360 (-1300)   900   400>
            , <&key_physical_attrs 125 100 1012  390  (-500)   400   320>
            , <&key_physical_attrs 125 100 1150  325       0     0     0>
            ;

    };
};
