# GitHub Actions で ZMK ファームウェアをビルドするためのワークフロー
name: Build Caravelle BLE ZMK Firmware

on:
  # push:
  #   branches:
  #     - main
  #   paths:
  #     # config/ フォルダ内のファイルが変更されたときにビルドをトリガー
  #     - 'config/**'
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-user-config.yml
    
    with:
      # 設定ディレクトリ（reusable workflow の `config_path`）
      config_path: config
      
      # ビルドマトリクスファイル (左右のボード・シールド定義)
      build_matrix_path: build.yaml
      
      # 出力アーカイブ名
      archive_name: caravelle_ble
